# Gradle files
.gradle/
build/

# IntelliJ IDEA / Android Studio
.idea/
*.iml
*.ipr
*.iws
.navigation/
out/

# Local configuration files
local.properties
.env
.env.local

# Keystores & Signing Keys
*.jks
*.keystore
*.pk8
*.pem
*.der
signing-keys.properties

# OS specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Device captures
captures/
